# folders
.py/*
test/*
core/__pycache__/*
database/__pycache__/*
ui/__pycache__/*
addons/folder_order/__pycache__/*
addons/mail_logger/__pycache__/*
addons/addressbook/__pycache__/*
dist/*
build/*
__pycache__/*

# files
*.exe
*.cmd
*.spec